.notification {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    padding: 8px;
    width: 400px;
    border: 1px solid green;
    color: green;
    left: 50%;
    transform: translate(-50%, -110%);
    transition: all 0.2s ease-out;
    border-radius: 8px;
}

.notification.open {
    transform: translate(-50%, 10%);
}

.notification.error {
    border: 1px solid red;
    color: red;
}